<footer>
     <ul>
        <li><strong>Image Sources:</strong></li>
        <li>Header photo of U.S.: Photo by NASA on Unsplash.</li>
        <li>Footer (yellow clouds) background: Photo by Jack Hamilton on Unsplash. </li>
        <li>All cartoons: Photos by United Nations COVID-19 Response on Unsplash.</li>
        <li>Middle photo on homepage (data from various countries): Photo by Markus Spiske on Unsplash.</li>
      </ul> 
</footer>
{{#each script}}
<script src="{{this}}" type="text/javascript"></script>
{{/each}}

{{#each deferScript}}
<script src="{{this}}" type="text/javascript" async defer></script>
{{/each}}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>