<nav>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <ul class="navbar">
        <li><a href="/"><strong><i class='fas fa-home'></i> Home</strong></a></li>
        <li><a href="/email-form"><strong> <i class='fas fa-bell'></i> Sign up for Updates</strong></a></li>
        <li><a href="/data"><strong><i class="fa fa-bar-chart"></i> See Latest Data</strong></a></li>
        <li><a href="/more"><strong><i class="fa fa-medkit"></i> CDC Information</strong></a></li>
    </ul>
</nav>