<nav>
    <!-- <span class="gunrockPic">  
    </span> -->
    <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="email-form">Email Form</a></li>
        <li><!--<a href="cult_page3.html">-->Page 3</a></li>
        <li><!--<a href="cult_contact.html">-->Page 4</a></li>
    </ul>
</nav>