
<main class="container-fluid">
    <section class="container">
        <div class="textContainer">
            <h1 class="h1">Data</h1>
        </div>
        <div id="map"></div>
        <div class="textContainer">
            <h2>Data for your region.</h2>
            <p>Insert data here.</p>
        </div>
    </section>
</main>