
<main class="container-fluid">
    <section class="container">
        <div class="textContainer">
            <h4 class="h1">Use this map to get data for a selected region:</h4>
            <div id="map"></div>
            <h2>Data for your region.</h2>
            <div id="map-box">
                <p>Insert data here.</p>
                <img src="./img/united-nations-swab-unsplash.jpg" alt="cartoon of medical professional administering swab test"></img>
            </div>
        </div>
    </section>
</main>
