
<main class="container-fluid">
    <section class="container">
        <div class="textContainer">
            <h4 class="h1">Use this map to get data for a selected region:</h4>
            <div id="map"></div>
            <div id="data-box">
            </div>
            <div id="line-chart-div">
                <canvas id="line-chart" width="800" height="450"></canvas>
            </div>
            </div>
            <img src="./img/united-nations-swab-unsplash.jpg" alt="cartoon of medical professional administering swab test"></img>
        </div>
    </section>
</main>
