<section class="container"> <!-- white box -->
    <div class="textContainer">
        <div class="flex-center">
            <div>
                <h1>COVID-19</h1>
                <p>To be or not to be. That is the question. Whether tis nobler in the mind to suffer the slings and arrows of 
                    outrageous fortune or to take arms against arms against a sea of troubles and by opposing, end them. To die, 
                    to sleep— No more—and by a sleep to say we end the heartache and the thousand natural shocks that
                    flesh is heir to—’tis a consummation devoutly to be wished! To die, to sleep. To sleep, perchance to dream—ay,
                    there’s the rub, for in that sleep of death what dreams may come when we have shuffled off this mortal coil, 
                    must give us pause. There’s the respect that makes calamity of so long life.
                </p>
            </div>
            <div>
                <img src="./img/united-nations-crowd-unsplash.jpg" id="img100" alt="cartoon of man spreading germs"/>
            </div>
        </div>
    </div>
</section>

<div id="background-thing">
</div>

<section class="container-but-yellow"> 
    <div class="textContainer">
        <div class="flex-center">
            <div>
                <img src="./img/united-nations-pacman-unsplash.jpg" id="pacman" alt="cartoon of pacman that says 'stay home'"/>
            </div>
            <div id="resources">
                <h1>More Information</h1>
                <p id="resource-buttons">
                <a href="https://www.cdc.gov/" class="btn btn-primary" role="button" target="_blank">CDC</a>
                <a href="https://www.who.int/" class="btn btn-primary" role="button" target="_blank">WHO</a>
                <a href="https://covid19.healthdata.org/united-states-of-america" class="btn btn-primary" role="button" target="_blank">IHME</a>
                </p>
                <div style="width: 100%;">
                    <h5>Department of Health websites for each state:</h5>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Select your state <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="https://www.alabamapublichealth.gov/covid19/index.html" target="_blank"> Alabama</a></li>
                        <li><a href="http://dhss.alaska.gov/dph/Epi/id/Pages/COVID-19/default.aspx" target="_blank"> Alaska</a></li>
                        <li><a href="https://www.azdhs.gov/preparedness/epidemiology-disease-control/infectious-disease-epidemiology/index.php#novel-coronavirus-home" target="_blank"> Arizona</a></li>
                        <li><a href="https://www.healthy.arkansas.gov/programs-services/topics/novel-coronavirus" target="_blank"> Arkansas</a></li>
                        <li><a href="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/Immunization/nCOV2019.aspx" target="_blank"> California</a></li>
                        <li><a href="https://www.colorado.gov/pacific/cdphe/2019-novel-coronavirus" target="_blank"> Colorado</a></li>
                        <li><a href="https://portal.ct.gov/DPH/Public-Health-Preparedness/Main-Page/2019-Novel-Coronavirus" target="_blank"> Connecticut</a></li>
                        <li><a href="https://coronavirus.delaware.gov/" target="_blank"> Delaware</a></li>
                        <li><a href="https://coronavirus.dc.gov/page/coronavirus-data" target="_blank"> District of Columbia</a></li>
                        <li><a href="https://floridahealthcovid19.gov/" target="_blank"> Florida</a></li>
                        <li><a href="https://dph.georgia.gov/coronavirus-disease-2019-covid-19-outbreak" target="_blank"> Georgia</a></li>
                        <li><a href="https://health.hawaii.gov/docd/advisories/novel-coronavirus-2019/" target="_blank"> Hawaii</a></li>
                        <li><a href="https://coronavirus.idaho.gov/" target="_blank"> Idaho</a></li>
                        <li><a href="http://www.dph.illinois.gov/topics-services/diseases-and-conditions/diseases-a-z-list/coronavirus" target="_blank"> Illinois</a></li>
                        <li><a href="https://www.in.gov/isdh/28470.htm" target="_blank"> Indiana</a></li>
                        <li><a href="https://idph.iowa.gov/Emerging-Health-Issues/Novel-Coronavirus" target="_blank"> Iowa</a></li>
                        <li><a href="http://www.kdheks.gov/coronavirus/index.htm" target="_blank"> Kansas</a></li>
                        <li><a href="https://chfs.ky.gov/agencies/dph/Pages/covid19.aspx" target="_blank"> Kentucky</a></li>
                        <li><a href="http://ldh.la.gov/Coronavirus/" target="_blank"> Louisiana</a></li>
                        <li><a href="https://www.maine.gov/dhhs/mecdc/infectious-disease/epi/airborne/coronavirus.shtml" target="_blank"> Maine</a></li>
                        <li><a href="https://phpa.health.maryland.gov/Pages/Novel-coronavirus.aspx" target="_blank"> Maryland</a></li>
                        <li><a href="https://www.mass.gov/guides/information-on-the-outbreak-of-2019-novel-coronavirus-covid-19" target="_blank"> Massachusetts</a></li>
                        <li><a href="https://www.michigan.gov/coronavirus" target="_blank"> Michigan</a></li>
                        <li><a href="https://www.health.state.mn.us/diseases/coronavirus/index.html" target="_blank"> Minnesota</a></li>
                        <li><a href="https://msdh.ms.gov/msdhsite/_static/14,0,420.html" target="_blank"> Mississippi</a></li>
                        <li><a href="https://health.mo.gov/living/healthcondiseases/communicable/novel-coronavirus/" target="_blank"> Missouri</a></li>
                        <li><a href="https://dphhs.mt.gov/publichealth/cdepi/diseases/coronavirusmt" target="_blank"> Montana</a></li>
                        <li><a href="http://dhhs.ne.gov/Pages/Coronavirus.aspx" target="_blank"> Nebraska</a></li>
                        <li><a href="https://nvhealthresponse.nv.gov/" target="_blank"> Nevada</a></li>
                        <li><a href="https://www.dhhs.nh.gov/dphs/cdcs/2019-ncov.htm" target="_blank"> New Hampshire</a></li>
                        <li><a href="https://www.nj.gov/health/cd/topics/ncov.shtml" target="_blank"> New Jersey</a></li>
                        <li><a href="https://nmhealth.org/about/erd/ideb/ncov/" target="_blank"> New Mexico</a></li>
                        <li><a href="https://www.health.ny.gov/diseases/communicable/coronavirus/" target="_blank"> New York</a></li>
                        <li><a href="https://epi.dph.ncdhhs.gov/cd/diseases/COVID19.html" target="_blank"> North Carolina</a></li>
                        <li><a href="https://www.health.nd.gov/coronavirus" target="_blank"> North Dakota</a></li>
                        <li><a href="https://odh.ohio.gov/wps/portal/gov/odh/know-our-programs/Novel-Coronavirus/2019-nCoV" target="_blank"> Ohio</a></li>
                        <li><a href="https://www.ok.gov/health/Prevention_and_Preparedness/Acute_Disease_Service/Disease_Information/2019_Novel_Coronavirus/index.html" target="_blank"> Oklahoma</a></li>
                        <li><a href="https://www.oregon.gov/oha/PH/DISEASESCONDITIONS/DISEASESAZ/Pages/emerging-respiratory-infections.aspx" target="_blank"> Oregon</a></li>
                        <li><a href="https://www.health.pa.gov/topics/disease/Pages/Coronavirus.aspx" target="_blank"> Pennsylvania</a></li>
                        <li><a href="https://health.ri.gov/diseases/respiratory/?parm=163" target="_blank"> Rhode Island</a></li>
                        <li><a href="https://scdhec.gov/health/infectious-diseases/viruses/coronavirus-disease-2019-covid-19" target="_blank"> South Carolina</a></li>
                        <li><a href="https://doh.sd.gov/news/Coronavirus.aspx" target="_blank"> South Dakota</a></li>
                        <li><a href="https://www.tn.gov/health/cedep/ncov.html" target="_blank"> Tennessee</a></li>
                        <li><a href="https://dshs.texas.gov/coronavirus/" target="_blank"> Texas</a></li>
                        <li><a href="https://health.utah.gov/coronavirus" target="_blank"> Utah</a></li>
                        <li><a href="https://www.healthvermont.gov/response/infectious-disease/2019-novel-coronavirus" target="_blank"> Vermont</a></li>
                        <li><a href="http://www.vdh.virginia.gov/surveillance-and-investigation/novel-coronavirus/" target="_blank"> Virginia</a></li>
                        <li><a href="https://www.doh.wa.gov/emergencies/coronavirus" target="_blank"> Washington</a></li>
                        <li><a href="https://dhhr.wv.gov/COVID-19/Pages/default.aspx" target="_blank"> West Virginia</a></li>
                        <li><a href="https://www.dhs.wisconsin.gov/covid-19/index.htm" target="_blank"> Wisconsin</a></li>
                        <li><a href="https://health.wyo.gov/publichealth/infectious-disease-epidemiology-unit/disease/novel-coronavirus/" target="_blank"> Wyoming</a></li>
                    </ul>
                </div>
                </div>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/-AUhA4OdudE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br>
                <p>Stay at home. Wash your hands. Stop the spread.</p>
            </div>
        </div>
        
    </div>
</section>

