<section class="container"> <!-- white box -->
    <div class="textContainer">
        <div class="flex-center">
            <div>
                <h1>Text</h1>
                <p>To be or not to be. That is the question. Whether tis nobler in the mind to suffer the slings and arrows of 
                    outrageous fortune or to take arms against arms against a sea of troubles and by opposing, end them.
                </p>
            </div>
            <div>
                <img src="./img/united-nations-crowd-unsplash.jpg" id="crowd" alt="cartoon of man spreading germs"/>
            </div>
        </div>
    </div>
</section>

<div id="background-thing">
</div>

<section class="container-but-yellow"> <!-- white box -->
    <div class="textContainer">
        <h1>Turtles are hecka cool!</h1>
        <p>Blah blah blah blah blahhhhhhh... I don't know what to write here so I'm just typing random stuff.</p>
    </div>
</section>

