

<!-- The information on this page is from the CDC's public domain resources intended to be used on websites and social media.
 See https://www.cdc.gov/coronavirus/2019-ncov/communication/social-media-toolkit.html-->

<section class="container">
    <div class="textContainer">
        <div class="flex-center">
            <div>
                <img src="./img/united-nations-red-graph-unsplash.jpg"  style="width: 80%;" alt="cartoon of a graph of the covid-19 cases going up"/>
            </div>
            <div>
                <h1>Stop The Spread</h1>
                <p>Much is unknown about how the virus that causes COVID-19 spreads. We believe it spreads mostly 
                    from person to person through respiratory droplets produced when someone who is sick coughs or sneezes. 
                </p>
                <p>
                    You can help prevent the spread of respiratory illnesses like COVID-19 by following simple daily precautions. 
                    Learn how to protect yourself from COVID-19:
                </p>
                <p>
                    https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/prevention.html
                </p>
            </div>
        </div>
        <div class="flex-center">
            <div>
                <h1>Social Distancing</h1>
                <p>Practice social distancing by putting space between yourself and others. 
                    Continue to practice healthy habits to help slow the spread of COVID-19.</p>
                <ul>
                    <li>Wash your hands for at least 20 seconds</li>
                    <li>Clean and then disinfect frequently used surfaces</li>
                    <li>Stay home if you’re sick</li>
                    <li>Avoid touching your face</li>
                </ul> 
                <p>Learn more about staying safe and healthy at cdc.gov/covid19</p>
            </div>
            <div>
                <img src="./img/united-nations-dominos-unsplash.jpg" alt="cartoon of dominos indicating lives lost by covid-19"/>
            </div>
        </div>

        
    </div>
</section>

<img id="background-stop-spread" style="width: 100%;" src="./img/united-nations-stop-spread-unsplash.jpg" alt="cartoon, 'stop the spread'"/>

<section class="container-but-yellow">
    <div class="textContainer">
        <div class="flex-center">
            <div>
                <img src="./img/united-nations-swab-unsplash.jpg" style="width:60%;" alt="cartoon of medical professional administering swab test"/>
            </div>
            <div>
                <h1>Testing Information</h1>
                <p>Do you think you may have COVID-19? If you think you’re sick, follow guidance about when to call your doctor: </p>
                <ul>
                    <li>Monitor your symptoms</li>
                    <li>Call ahead before visiting your doctor</li>
                    <li>Avoid close contact with others when you’re out</li>
                </ul>
                <p>Most people who get COVID-19 can take care of themselves at home. If you need to see a doctor, take precautions to protect yourself and others around you. 
                    See more:</p>
                <p>https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/steps-when-sick.html</p>
                <p>If you have symptoms of COVID-19 (fever, cough, difficulty breathing) and want to get tested, call your doctor first. 
                    Also check with your state or local health department, which will have the latest information on testing. 
                    While supplies of these tests are increasing, it may still be difficult to find a place to get tested.</p>
                <p>Learn more: https://bit.ly/34zW3cgexternal icon</p>
            </div>
        </div> 
    </div>
</section>

<section class="container">
        <h2 style="text-align: center; margin-top: 30px;">Check out the CDC website for more information:</h2>
        <!--CDC Microsite (see https://tools.cdc.gov/medialibrary/index.aspx#/microsite/id/404916)-->
        <div data-cdc-widget="micrositeCollectionViewerMed" data-cdc-dataid="404908" data-cdc-theme="theme1" 
        data-cdc-geotag="{'continent': '6255149', 'country': '6252001', 'state': '', 'region': '' }" style="margin-top: 20px;"></div>
        <script src='//t.cdc.gov/1M1B' ></script>
</section>


