<section class="container">
    <div class="textContainer">
        <div class="flex-center">
            <div>
                <h1>Text</h1>
                <p>To be or not to be. That is the question. Whether tis nobler in the mind to suffer the slings and arrows of 
                    outrageous fortune or to take arms against arms against a sea of troubles and by opposing, end them. To die, 
                    to sleep— No more—and by a sleep to say we end the heartache and the thousand natural shocks that
                    flesh is heir to—’tis a consummation devoutly to be wished! To die, to sleep. To sleep, perchance to dream—ay,
                    there’s the rub, for in that sleep of death what dreams may come when we have shuffled off this mortal coil, 
                    must give us pause. There’s the respect that makes calamity of so long life.
                </p>
            </div>
            <div>
                <img src="./img/united-nations-dominos-unsplash.jpg" id="crowd" alt="cartoon of man spreading germs"/>
            </div>
        </div>
    </div>
</section>