body {
	background-color: white;
	margin: 0px;
    font-family: "Times New Roman", Times, serif;
   	font-size: 1rem;
   	font-weight: 400;
	width: 100%;
}

a {
	text-decoration: none;
}

.header {
	width: 100%;
	min-height: 70px;
	padding-top: 3%;
	background: url("../img/nasa-unsplash.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    color: #ffffff;
}

nav {
	float: center;
	background-color: 	#011f4b;
	width: 100%;
	margin-top: 5%;
	padding: 2px 0%;
	.navbar {
		margin-left: 10.3%;
		margin-top: 1%;
		width: 75%;
		display: flex;
		justify-content: space-around;
		li {
			display: inline-block;
			a {
				text-decoration: none;
				color: rgba(255, 255, 255, 0.8);
				font-weight: normal;
				&:hover {
					color: #ffffff;
				}
			}
		}
	}
}


.title-box {
    background-color: rgba(46, 45, 45, 0.6);
    text-align: center;
    width: 40%;
    padding: 3%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
}

 #background-thing {
	width: 100%;
	min-height: 600px;
	padding-top: 3%;
	background: url("../img/markus-spiske-unsplash.jpg") no-repeat top center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
 }

.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	color: black;
}


.textContainer {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 2%;
	p {
		text-align: justify;
	}
	ul {
		text-align: left;
	}
	img {
		display: inline-block;
		margin: 0 auto;
		padding: 2%;
		min-width: 40px;
		width: 70%;
		#crowd {
			margin-left: 20px;
			width: 100%;
			min-width: 90px;
		}
		#pacman {
			margin-left: 20px;
			width: 80%;
			min-width: 90px;
		}
	}
}

.container-but-yellow {
	min-height: 400px;
	width: 100%;
	background-color: #fdbe51;
}



.flex-center {
	display: flex;
	justify-content: center;
	div {
		padding: 15px;
		width: 50%;
		margin: 5px;
	}
}

#resources {
	p {
		text-align: center;
	}
	#resource-buttons {
		padding-top: 20px;
		text-align: center;
		display: flex;
		justify-content: space-around;
		a {
			display: inline-block;
		}
	}
	.btn-primary {
		background-color: #011f4b;
		border-color: #001b43;
		color: rgba(255, 255, 255, 0.8);
		width: 200px;
		&:hover {
			background-color:  #b3cde0;
			color: #03396c;
		}
	}	
	.dropdown {
		margin-left: auto;
		margin-right: auto;
		.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
			background-color:  #b3cde0;
			color: #001b43;
		}
		.btn-primary{
			&:hover {
				background-color:  #b3cde0;
				color: #001b43;
			}
		}
		.dropdown-menu {
			color:  #001b43;
			height: 200px;
			overflow-y: auto;
			width: 75%;
			a {
				color:  #001b43;
				margin-left: 2%;
			}
		}
	}
}


form {
	width: 90%;
	overflow: auto;
	background-color: #fdcb73;
	padding: 2% 5%;
	margin: 5% auto;
	border-radius: 5px;
	ol {
		width: 90%;
		padding: 2%;
		margin-left: auto;
        margin-right: auto;
        text-align: left;
	}
	li {
		padding: 2%;
	}
	img {
		display: inline-block;
		vertical-align: middle;
		width: 70%;
		min-width: 90px;
		margin: 0 auto;
		padding: 2%;
	 }
}
select {
    margin-left: 25%;
    width: 45%;
}

input[type=submit] {
	padding: 12px 20px;
   	border-style: solid;
	border-color: #001b43;
	background-color: #011f4b;
	color: rgba(255, 255, 255, 0.8);
	border-radius: 4px;
	cursor: pointer;
	margin-right: auto;
	margin-left: auto;
	&:hover {
		background-color:  rgba(255, 255, 255, 0.8);
		border-color: #03396c;
		color: #03396c;
	}
}
input[type=text] {
	width: 45%;
	margin-left: 25%;
}

footer {
	width: 100%;
	background: url("../img/jack-hamilton-unsplash.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    color: #ffffff;
	bottom: 0;
	padding: 1%;
	ul {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		padding: 2%;
		list-style: none;
		color: white;
		font-size: small;
	}
}

